* {
    box-sizing: border-box;
}

.container-a {
    justify-content: center;
    display: flex;
    background-color: rebeccapurple;
    border: 1px black solid;
}

.container-a-item {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: black 1px solid;
    flex: 1;
}

@media(max-width: 750px) {
    .container-a-item {
        flex-direction: column;
    }
}
