* {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    border-radius: 50px;
}

/* this object is for case-1 */
.case-1 {
    background-color: #27ff81;
    width: 500px;
    height: 250px;
    box-sizing: border-box;
    border: black solid 20px;
    margin: 5px;
}
/* Summary case-1 
what box-sizing: border-box; does is add all border and margin to the total width which is equal to 500 width and 250 weight
padding is very buggy here idk why*/

/* this object is for case-2 */
.case-2 {
    background-color: #fa3b6b;
    width: 500px;
    height: 250px;
    box-sizing: content-box;
    border: black solid 20px;
    margin: 5px;
    padding: 20px 20px;
}
/*This is like classic it just add the width of content and border for example if weight is 500px and border is 20px
then it will be 520px just like the default*/